{{ sprig('_components/edit_cookieconsent.twig', {}, {'s-trigger': 'load'}) }}

{{ sprig.script }}

<div class="my-5">
    <button class="btn btn-primary" id="cookiesBtn" role="button">{{ 'Edit Settings'|t }}</button>
</div>

