{% set links = siteInfo.socialMediaLinks.with('socialMediaLink:icon').all %}

{% if links %}
    {% set basePath = parseEnv(craft.app.volumes.volumeByHandle('images').path) %}
    {% set embedSvgs = craft.app.config.general.project.embedSvgs ?? true %}

    {% for link in links %}
        {% set image = link.icon[0] %}
        {% if image %}
            <a class="ml-2 text-decoration-none" href="{{ link.profileLink }}">
                {% if image.mimeType == 'image/svg+xml' and embedSvgs %}
                    {{ svg(basePath ~ '/' ~ image.path)|attr({width:24, height:24}) }}
                {% else %}
                    <img src="{{ image.url({width:24, height:24}) }}" alt="{{ image.title|e('html_attr') }}">
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}

{% endif %}
