<div class="row row-cols-xl-6 row-cols-sm-3 row-cols-1 no-gutters">
    {% for entry  in entries %}
        <article class="img-container">
            {% set image = entry.featuredImage.one ?? siteInfo.defaultFeaturedImage.one %}
            {% if image %}
                <a href="{{ entry.url }}">
                    <img class="img-fluid"
                         src="{{ image.getUrl({width:600, height:200}) }}"
                         alt="{{ image.title|e('html_attr') }}"
                         loading="lazy"></a>
            {% endif %}
            <div class="img-text">
                <h4>{{ entry.link }}</h4>
            </div>
        </article>
    {% endfor %}
</div>
