{% import "_includes/forms" as forms %}


{{ forms.textField({
    label: "Placeholder Text"|t('app'),
    instructions: "The text that will be shown if the field doesn’t have a value."|t('app'),
    id: 'placeholder',
    name: 'placeholder',
    value: field.placeholder,
    errors: field.getErrors('placeholder')
}) }}

{% embed '_includes/forms/field.html' with {
    label: 'Field Limit'|t('app'),
    instructions: "The maximum number of characters or bytes the field is allowed to have."|t('app'),
    id: 'fieldLimit',
    errors: field.getErrors(field.byteLimit ? 'byteLimit' : 'charLimit')
} %}
    {% import "_includes/forms" as forms %}
    {% block input %}
        <div class="flex">
            {{ forms.text({
                id: 'fieldLimit',
                name: 'fieldLimit',
                max:40,
                value: field.charLimit ?? field.byteLimit,
                size: 3,
            }) }}
            {{ forms.select({
                id: 'limitUnit',
                name: 'limitUnit',
                options: [
                    { value: 'chars', label: 'Characters'|t('app') },
                    { value: 'bytes', label: 'Bytes'|t('app') },
                ],
                value: field.byteLimit ? 'bytes' : 'chars'
            }) }}
        </div>
    {% endblock %}
{% endembed %}
