.DS_Store
/.env
/.idea
/_export
/config/Env.php
/node_modules
/snapshot/snapshot.sql.*
/templates/test
/templates/shop
/vendor
/web/cache
/web/cpresources
/web/cmsresources
/web/guide
/web/images
/web/shop
/web/temporaryuploads
/web/userphotos
/volumes/embeds
/CHANGELOG34.md
/InformationModel.dia~
