<blockquote class="border-left pl2">
    <p>{{ block.text }}</p>
    {% if block.textSource %}
        <footer>
            <cite title="Source Title">{{ block.textSource }}</cite>
        </footer>
    {% endif %}
</blockquote>



