<?php

namespace config;

class Env
{
    // This file is a replacement for the usual .env mechanism, avoiding some issues with thread safety on Windows10/Apache/mod_php
    // Like .env, it must not be committed to git.

    // replace getenv('VAR') with Var::VAR
    // For use in the Craft CP define aliases in config/general.php
    // like  '@SYSTEM_NAME' => Env::SYSTEM_NAME


    // Constants
    const ENVIRONMENT = 'production';

    const SECURITY_KEY = 'fdjhkJKHBMNdfsabkjhwe87t6';

    const DB_DSN = 'mysql:host=localhost;dbname=DBNAME';
    const DB_USER = 'root';
    const DB_PASSWORD = '';
    const DB_TABLEPREFIX = '';


    const SYSTEM_NAME = 'Craft Festival';
    const DEFAULT_SITE_URL = 'http://localhost:8080';

    const EMAIL_ADDRESS = 'support@workshop.local';
    const EMAIL_SENDER = 'Support Team';

    const SMTP_HOST = 'xxx';
    const SMTP_PASSWORD = 'xxx';
    const SMTP_PORT = 'xxx';
    const SMTP_USER = 'xxx';

    const GOOGLE_API_KEY = 'xxx';

    const SOLR_BASE_URL = 'http://localhost:8989/solr';
    const SOLR_CORE = 'xxx';
}
