{% extends "_layout.twig" %}
{% set useSolr = craft.app.plugins.pluginEnabled('solrsearch') %}

{% set searchFor = craft.app.request.getParam('q') %}

{% block titleText "#{'Search for'|t} \"#{searchFor}\"" %}

{% if useSolr %}
    {% set q = craft.app.request.getParam('q') %}
    {% set fq = craft.app.request.getParam('fq') %}
    {% if not fq %}
        {#{% set fq = "site:#{currentSite.handle}" %}#}
        {% set fq = "(site:#{currentSite.handle} OR (site:kids AND type:Film))" %}
    {% endif %}

    {% set searchParamsModel = create({class:'project\\modules\\solrsearch\\models\\ParamsModel', q:q, fq:fq}) %}
    {% set results = craft.solrsearch.search(searchParamsModel) %}

    {% if results.docs %}
        {% set doc = results['docs']|first %}
        {% set topEntry = craft.entries.section(doc.type).id(doc.id).one %}
        {% if topEntry and topEntry.featuredImage %}
            {% set global_featuredImage = topEntry.featuredImage.one %}
        {% endif %}
    {% endif %}
{% else %}
    {% if searchFor %}
        {% set entries = craft.entries()
            .search({query:searchFor})
            .site('*')
            .unique()
            .section('not department')
            .type('not link')
            .with(['film','location','screeningLanguage','subtitlesLanguages'])
            .orderBy('score')
            .all %}
        {% if entries %}
            {% set global_featuredImage = entries[0].featuredImage|one %}
        {% else %}
            {% set global_featuredImage = siteInfo.notFoundImage|one %}
        {% endif %}
    {% endif %}
{% endif %}


{% block content %}

    {% include '_partials/blocks.twig' with {query:entry.bodyContent} only %}

    {% if useSolr %}
        {% if q %}
            {% include '_partials/search_results_solr.twig' with {results: results, q:q, fq:fq} only %}
        {% else %}
            {{ "You did not enter a search criteria"|t }}
        {% endif %}

    {% else %}
        {% if searchFor %}
            {% include '_partials/search_results.twig' with {entries:entries, searchFor:searchFor} only %}
        {% else %}
            <div class="mb-5">
                {{ "You did not enter a search criteria"|t }}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}


{% block secondaryContent %}
    {% if useSolr %}
        {% if q and results.docs|length > 1 %}
            {% include '_partials/search_facets.twig'
                with {entry:entry, facets: results.facets, q: q, fq:fq, count:results.docs|length} only %}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
